---
import Header from "../components/Header.astro";
import Bigtext from "../components/Bigtext.astro";
import Layout from "../layouts/Layout.astro";
---




		<Header />
<Bigtext>
	<h1>hej</h1>
</Bigtext>

	</body>
<Layout>


</Layout>

</html>
