---
import Header from "../components/Header.astro";
import Bigtext from "../components/Bigtext.astro";
import Layout from "../layouts/Layout.astro";
---

<Header />
<Bigtext>
	<h1>hej</h1>
</Bigtext>

	</body>
<Layout>

	<h1>Onanerer du? Bare rolig, det gør vi andre også.</h1>

	<p>Unge piger og kvinder onanerer. Men hvorfor er det så svært at snakke om? Her hos GirlTalk har vi snakket med en række kvinder i alderen 16-24 år, som fortæller om deres forhold til kroppen, onani og hvordan man elsker sig selv bedst. </p>


	<h2>Emilie, 22 år.</h2>
	<p><span class="fed">Hvor tit onanerer du?</span> Det er meget forskelligt. Nogle gange mere end andre. Jeg gør det nok mest, når jeg er stresset, for det hjælper mig virkelig meget med at slappe af. Jeg havde en periode, hvor jeg ikke sov særlig godt om natten - og der hjalp det vildt meget!</p>

	<p><span class="fed">Skammer du dig over at onanere?</span> Jeg kan til tider godt føle, at det er skamfuldt at snakke om onani. Det har altid været en “drenge-ting”, men efter jeg er blevet ældre har mine veninder og jeg fået et mere afslappet forhold til sex og onani. Når min roomie onanerer skriver hun det lige, så jeg ikke går ind på hendes værelse - haha! </p>
		
	<p><span class="fed">Hvilke effekter har onani på dit selvværd?</span> Onani har hjulpet mig meget gennem tiden. Jeg startede med at onanere, før jeg havde haft sex med nogen, og det gav mig en god følelse af hvad jeg kunne lide. Det betød for mig, at sex hurtigt blev nice, og jeg fortæller gerne min partner, hvad der føles godt. </p>

	<h1>Vidst du at . . .</h1>
	<div class="procent">
		<h1>87%</h1>
		<h1>27%</h1>
	</div>

</Layout>

</html>
