body {
  background-color: #ffc3d9;
}

h1 {
  font-family: "obviously";
  font-size: 22px;
  color: #3023b0;
  text-transform: uppercase;
}

p {
  font-family: "archivo-variable", sans-serif;
  font-variation-settings: "wdth" 100, "wght" 100;
  line-height: 1.4rem;
}

h2 {
  font-family: "obviously";
  color: #3023b0;
  font-weight: 500;
}

.fed {
  font-variation-settings: "wdth" 100, "wght" 500;
}

main {
  margin: 20px;
}

.procent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.procent h1 {
  font-size: 60px;
}
