---

---

<a class="logo" href="/"><img src="/logo.png" alt="logo"  class="logo"/></a>
<nav class="navbar">
  <div class="sprog">
    <h3 class="da">DA</h3>

    <h3>/</h3>

    <h3 class="en">EN</h3>
  </div>
  <img src="/glas.png" alt="forstørrelsesglas" class="glas" />
  <div class="burger-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

    <ul class="menu-list">
        <li><a href="/">Hjem</a></li>
        <li><a href="/program">Program</a></li>
        <li><a href="/map">Map</a></li>
        <li><a href="omos">Om os</a></li>
        <li><a href="kontakt">Kontakt</a></li>
        <li><a href="/">FAQ</a></li>
    </ul>
</nav>