---
import Header from "../components/Header.astro";
import "../style/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="stylesheet" href="https://use.typekit.net/hjl4dia.css">
    <link rel="stylesheet" href="https://use.typekit.net/flj6vyt.css">



    <title>Astro</title>
  </head>
  <body>
    <main>
      <Header />
      <slot />

    </main>
  </body>
</html>
